.App {
    background-color: #87b5b5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pale-bg {
    background-color: #c0d8d8;
}

#editor {
    margin-bottom: 1em;
    width: 800px;
    max-height: 200px;
    padding: 1em;
    overflow-y: scroll;
    resize: none;
}

#editor {
    border: 0;
}

#preview {
    width: 800px;
    padding: 1em;
    height: 200px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

#preview p,
h4 {
    margin: 0;
}

.toolbar {
    width: 100%;
    background-color: #49a0a0;
}

.toolbar h4 {
    padding: 5px ;
}

.border {
    border: 2px solid black;
}
